<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='Sales')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3 form-custom">
<h2 th:text="${salesTitle}"></h2>
<p th:text="${message}"></p>
<form action="#" th:action="@{/sales/createorupdate}" method="post" th:object="${sales}">
    <div class="mb-3 mt-3">
        <input type="hidden" class="form-control" id="id" name="id" th:value="*{id}">
    </div>
    <div class="mb-3 mt-3">
        <label for="date"> Date:</label>
        <input type="datetime-local" class="form-control" id="date" name="date" th:value="*{date}">
    </div>
    <div class="dropdown mb-3 mt-3">
        <label for="paymentBy">Payment By: </label>
        <select class="form-control" id="paymentBy" name="paymentBy"
                type="text"  th:value="*{paymentMethod}">
            <option th:each="payment: *{paymentMethod}"
                    th:value="${payment}"
                    th:text="${payment}">
            </option>
        </select>
    </div>
  <!--  <div class="dropdown mb-3 mt-3">
        <label for="productList">Products: </label>
        <select class="form-control" id="productList" name="productList"
                type="text"  th:value="*{productList}">
            <option th:each="product: *{productList}"
                    th:value="${product.id}"
                    th:text="${product.name}">
            </option>

        </select>
        <button>Add</button>
    </div>-->
    <div class="mb-3 mt-3">
        <label for="discount">Discount:</label>
        <input type="number" class="form-control" id="discount" placeholder="Enter discount" name="discount" th:value="*{discount}">
    </div>
    <div class="mb-3 mt-3">
<!--    <div class="container py-1">-->
        <label >Product Items:</label>
<!--        <div class="row">-->
<!--            <div class="col-lg-7 mx-auto">-->
<!--                <div class="card rounded-0 border-0 shadow">-->
<!--                    <div class="card-body p-5">-->


                        <div class="table-responsive table-bordered">
                            <table  class="table">
                                <thead>
                               <!-- <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">product</th>
                                    <th scope="col">price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Action</th>
                                </tr>-->
                                </thead>
                                <tbody>
                                <tr>
<!--                                    <th scrope="row" >1</th>-->
<!--                                    <td><input class="form-control rounded-0" type="text" name="product" placeholder="Product"></td>-->
                                    <td><select class="form-control form-product">
                                        <option th:each="product: *{productList}" th:value="${product.id}" th:text="${product.name}">Products</option>
                                    </select></td>
                                    <td ><input class="form-control rounded-0"   type="number" name="price" placeholder="Price"></td>
                                    <td ><input class="form-control rounded-0" type="number" name="quantity" placeholder="Quantity"></td>
                                    <td ><input class="form-control rounded-0" type="number" name="total" placeholder="Total"></td>
                                    <td><button class="btn btn-danger rounded-0" id ="deleteRow"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Add new Product</a>
                        </div>

                        <!-- Add rows button-->

                    </div>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer::footer"></footer>
</body>
</html>