<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='Sales')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3">
<h2>Product Table</h2>
<table class="table table-bordered table-secondary">
    <thead>
    <tr>
        <th>S.N</th>
        <th>Sales Code</th>
        <th>Date</th>
        <th>Payment By</th>
        <th>Discount</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sale,iterator : ${salesList}">
        <td th:text="${iterator.count}">1</td>
        <td th:text="${sale.salesCode}">2</td>
        <td th:text="${sale.date}">2008/7/8</td>
        <td th:text="${sale.paymentBy}">cash</td>
        <td th:text="${sale.discount}">20</td>
        <td>
            <div class="btn-group">
                <a th:href="@{${'/salesdetails/' + sale.id}}" class="btn btn-success"><i class="bi bi-view-stacked"></i></a>
                <a th:href="@{${'/sales/update/' + sale.id}}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                <a th:href="@{${'/sales/delete/' + sale.id}}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
        </div>
    </div>
</div>
</body>
</html>