<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='Sales')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3 form-custom">
            <h2 th:text="${salesTitle}"></h2>
            <p th:text="${message}"></p>
            <form action="#" th:action="@{/sales/createorupdate}" method="post" th:object="${sales}">
                <div class="mb-3 mt-3">
                    <input type="hidden" class="form-control" id="id" name="id" th:value="*{id}">
                </div>
                <div class="mb-3 mt-3">
                    <label for="date"> Date:</label>
                    <input type="date" class="form-control" id="date" name="date" th:value="*{date}">
                </div>
                <div class="dropdown mb-3 mt-3">
                    <label for="paymentBy">Payment By: </label>
                    <select class="form-control" id="paymentBy" name="paymentBy"
                            type="text" th:value="*{paymentMethod}">
                        <option th:each="payment: *{paymentMethod}"
                                th:value="${payment}"
                                th:text="${payment}">
                        </option>
                    </select>
                </div>


                <div class="mb-3 mt-3">
                    <label for="discount">Discount:</label>
                    <input type="number" class="form-control" id="discount" placeholder="Enter discount" name="discount"
                           th:value="*{discount}">
                </div>
                <div class="mb-3 mt-3">

                    <label>Product Items:</label>

                    <div class="table-responsive table-bordered">
                        <table id="productTable" class="table">
                            <tbody>
                            <tr id="tableRow0">
                                <!--                                    <td><input class="form-control rounded-0" type="text" name="product" placeholder="Product"></td>-->
                                <td><select id="mySelect0" name="mySelect0" onchange="myFunction()"
                                            class="form-control rounded-0"
                                            th:name="|productDtoList[0].id|">
                                    <option class="form-control">-- Product -----------------------</option>
                                    <option th:each="product: *{productList}"
                                            th:value="${product.id}"
                                            th:text="${product.name}"
                                            th:name="|productDtoList[0].name|">Products
                                    </option>
                                </select></td>
                                <td><input class="form-control rounded-0" type="number" id="price0" name="price0"
                                           placeholder="Price" th:name="|productDtoList[0].sellingPrice|" readonly></td>
                                <td><input class="form-control rounded-0" type="number" id="quantity0" name="quantity0" th:name="|productDtoList[0].quantity|"
                                           placeholder="Quantity"></td>
                                <td>
                                    <input class="form-control rounded-0" type="number" id="total0" name="total0"
                                           placeholder="Total" th:name="|productDtoList[0].amount|" readonly></td>
                                <td>
                                    <button class="btn btn-danger rounded-0" id="deleteRow"><i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr id="tableRow1">
                                <!--                                    <td><input class="form-control rounded-0" type="text" name="product" placeholder="Product"></td>-->
                                <td><select id="mySelect1" name="mySelect1" onchange="myFunction()"
                                            class="form-control rounded-0"
                                            th:name="|productDtoList[1].id|">
                                    <option class="form-control">-- Product -----------------------</option>
                                    <option th:each="product: *{productList}"
                                            th:value="${product.id}"
                                            th:text="${product.name}"
                                            th:name="|productDtoList[1].name|">Products
                                    </option>
                                </select></td>
                                <td><input class="form-control rounded-0" type="number" id="price1" name="price1"
                                           placeholder="Price" th:name="|productDtoList[1].sellingPrice|" readonly></td>
                                <td><input class="form-control rounded-0" type="number" id="quantity1" name="quantity1" th:name="|productDtoList[1].quantity|"
                                           placeholder="Quantity"></td>
                                <td>
                                    <input class="form-control rounded-0" type="number" id="total1" name="total1"
                                           placeholder="Total" th:name="|productDtoList[1].amount|" readonly></td>
                                <td>
                                    <button class="btn btn-danger rounded-0" id="deleteRow"><i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Add new Product</a>
                    </div>

                    <!-- Add rows button-->

                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Complete Transaction</button>
                </div>

            </form>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer::footer"></footer>
<script th:inline="javascript">



        const quantity0 = document.querySelector('#quantity0');

        quantity0.addEventListener('input', function () {

        var price0 = document.getElementById('price0').value;
        var quantity0 = document.getElementById('quantity0').value;
        var result = quantity0 * price0;
        console.log(result)
        $('#total0').val(result);

<!--        document.querySelector('input[name="total0"]').value = result;-->
        });

    function myFunction() {

    var id = $(this).closest('tr').find('input[name="price0"]').val();
    console.log(id)

    var num = "'foofo21".match(/\d+/g);
    console.log(num[0])

    var prodId = document.getElementById("mySelect0").value;
    console.log("you select:" +prodId);
    var href ='http://' +window.location.host +"/product/"+prodId;


   fetch(href)
    .then(response => {
    return response.json();
    }).then(product => {
        $('#price0').val(product.sellingPrice);
    console.log(product);
    console.log(product.name);
    })


}

</script>
</body>
</html>