<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="toastmsg" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="toast align-items-center text-white bg-primary border-0 show">
        <div class="toast-header bg-primary text-white">
            <strong class="me-auto">Toast Header</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            <p>Some text inside the toast body</p>
        </div>
    </div>
</div>