<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='products')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3 ">

    <h2>User Table</h2>
    <table class="table table-bordered table-secondary">
        <thead>
        <tr>
            <th>User Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Address</th>
            <th>Password</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="usr,iterator : ${userList}">
            <td th:text="${usr.userCode}"></td>
            <td th:text="${usr.firstName}">John</td>
            <td th:text="${usr.lastName}">Doe</td>
            <td th:text="${usr.gender}">Doe</td>
            <td th:text="${usr.email}">john@example.com</td>
            <td th:text="${usr.address}">khokana</td>
            <td th:text="${usr.password}"></td>
            <td th:text="${usr.status}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{${'/user/update/' + usr.id}}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                    <a th:href="@{${'/user/delete/' + usr.id}}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
    </div>
</div>

</body>
</html>