<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='userType')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3 form-custom">
                    <h2 th:text="${userTypeTitle}"></h2>
                    <p th:text="${message}"></p>
                    <form action="#" th:action="@{/usertype/createorupdate}" method="post" th:object="${userType}">
                        <div class="mb-3 mt-3">
                            <input type="hidden" class="form-control" id="id" name="id" th:value="*{id}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter category name" name="name" th:value="*{name}">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="description"> Description:</label>
                            <input type="text" class="form-control" id="description" placeholder="Enter Description" name="description" th:value="*{description}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


    </div>
    </div>
</div>
</body>
</html>