<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header (pageTitle='category')">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragment/sidenav::sidenav"></div>
        <div class="col py-3"`>
        <!--        sidenav-->
        <!--        content-->
            <h2 th:text="${userRoleTitle}"></h2>
            <p th:text="${message}"></p>

            <form action="#" th:action="@{/role/createorupdate}" method="post" th:object="${role}">
                <div class="mb-3 mt-3">
                    <input type="hidden" class="form-control" id="id" name="id" th:value="*{id}">
                </div>

                <div class="mb-3 mt-3">
                    <label for="name">Role Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter category name" name="name" th:value="*{name}">
                </div>
                <div class="mb-3 mt-3">
                    <input type="hidden" class="form-control" id="createDate" name="createDate">
                </div>
                <div class="mb-3 mt-3">
                    <label for="description">Role Description:</label>
                    <input type="text" class="form-control" id="description" placeholder="Enter Description" th:value="*{description}" name="description">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
    </div>
</div>
</div>

</body>
</html>